@import "tailwindcss";

:root {
  --color-chart-1: #3b82f6;
  --color-chart-2: #ef4444;

  --color-text-3: #6b7280;

  --color-border-2: #d1d5db;
  --color-border-3: #e5e7eb;

  --color-surface-base: white;
  --color-surface-raised: white;
}